:root {
    background-color: #87CEFA;
    font-size: 62.5%;
  }
  * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFE0;
      }
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 5.4rem;
  color: #FAF0E6;
  margin-bottom: 5rem;
}
