/*Quick, J. (nd). Build a Quiz App with HTML, CSS, and JavaScript. 
Adapted from https://www.udemy.com/course/build-a-quiz-app-with-html-css-and-javascript/learn/lecture/13703648?start=0#overview on 9th October, 2020.*/

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
 .high-score:hover {
  transform: scale(1.025);
}.high-score:hover {
  transform: scale(1.025);
} 
