/*Navarro, P. F. (nd). Complete jQuery and AJAX Programming Curriculum. 
Retrieved from https://www.udemy.com/course/complete-jquery-and-ajax-programming-curriculum/learn/lecture/10717774#overview on 9th October, 2020.*/

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
 .high-score:hover {
  transform: scale(1.025);
}.high-score:hover {
  transform: scale(1.025);
} 
