.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #AFEEE;
    background-color: #FFE4B5;
  }
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #808000;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #DB7093;
  color: #FFF5EE;
}
.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #C0C0C0;
}

.incorrect {
  background-color: #FF0000;
}
#hud {
  display: flex;
  justify-content: space-between;
}
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #8B4513;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #8B4513;
  width: 0%;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #8B4513;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
