.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #AFEEE;
    background-color: #FFE4B5;
  }
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #808000;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
